<div id="contact">
  <div class="container">
    <div class="row">
      <div class="col-md-6">

        <h3>CONTACT US </h3>
        <p class="mb-5">We understand that you may have much on your plate ... <br> No stress , we'll come to you and repair your device on site ! <br> <strong>Get in touch</strong> with us today.</p>

        <div class="row">

          <div class="col-md-6 mb-5">


            <h4 class="mb-3">ADDRESS</h4>
            <span class="d-block">KENYA, KIAMBU ROAD</span>
            <span class="d-block">PONGEZI PLAZA</span>
            <span class="d-block">FIRST FLOOR, ROOM <strong>FF11</strong></span>
            <span class="d-block d-md-none"> <i class="far fa-clock"></i>  Mon‑Fri: 08:00am ‑ 08:00pm, Sat: 08:00am ‑ 05:00pm</span>


            <a href="https://goo.gl/maps/6tXig9GF3Mz">
              <p style="text-decoration:underline; cursor:pointer;">Google Maps &#x21AA;</p>
            </a>
          </div>

          <div class="col-md-6 directContact mb-5">

            <h4 class="mb-3"> DIRECT CONTACT </h4>

            <span class="d-block mb-2">
              <span> <i class="fas fa-phone mr-2"></i> </span>
              <a href="tel:+254 792 553 595">+254 792 553 595</a>
            </span>
            <span class="d-block mb-2">
              <span> <i class="fas fa-phone mr-2"></i> </span>
              <a href="tel:+254 720 402 275">+254 720 402 275</a>
            </span>

            <span class="d-block mb-2">
              <span> <i class="fas fa-envelope mr-2"></i> </span>
              <a href="mailto:support@tecomadvance.com">support@tecomadvance.com</a>
            </span>
            <span class="d-block mb-2">
              <span> <i class="fas fa-envelope mr-2"></i> </span>
              <a href="mailto:tecomadvance@gmail.com">tecomadvance@gmail.com</a>
            </span>

          </div>

        </div>
        <div class="row">
          <!-- <div class="col-md-3"></div> -->
          <div class="col-12">
            <h4 class="description mb-3"> WE'RE SOCIAL</h4>

            <div class="wrapper" style="display:flex;justify-content:center;align-items:center;">

              <a href="https://wa.me/254792553595?text=Hello%20Tecom%20Advance%20..." rel="external nofollow noopener" target="_blank">
                <img src="assets/images/Whatsapp.png" title="Whatsapp" alt="icon"> </a>
              <a href="https://www.facebook.com/TecomAdvance/" target="_blank">
                <img src="assets/images/Facebook.png" title="Facebook" alt="icon"></a>
              <a href="https://www.instagram.com/tecom.advance/" target="_blank">
                <img src="assets/images/Instagram.png" title="Instagram" alt="icon"></a>
              <a href="https://twitter.com/Tecom_Tech" target="_blank">
                <img src="assets/images/Twitter.png" title="Twitter" alt="icon"></a>

            </div>

          </div>
        </div>

      </div>
      <div class="col-md-6">

        <img id="find_us" src="assets/images/undraw_social_media.svg" alt="social media">

      </div>

    </div>
  </div>

</div>
