html {
  scroll-behavior: smooth !important;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
  color: #80868b;
}

/* *************************************************************** */
/* NAVBAR  */
nav {
  background-color: #fff !important;
  padding: 0px 100px !important;
  box-shadow: 0 5px 20px 2px rgba(0, 0, 0, 0.09);
}

nav .navbar-brand {
  /* width: 100px; */
  /* padding-left: 15px; */
  color: #13d0d5 !important;
  visibility: hidden;
  font-family: 'Allerta Stencil', sans-serif !important;
  line-height: 18px;
}

nav .navbar-brand span span {
  color: #ffd6b3;
  font-size: 10px;
  letter-spacing: 2px;
  position: relative;
  left: 5px;
}

nav a {
  color: #5f6368 !important;
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
  position: relative;
  margin: 0px 10px;
  padding: 10px 10px;
  z-index: 0;
  cursor: pointer;
  transition: all .2s ease;
}

/* stroke */
nav a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #aaa;
  height: 1px;
}

nav a:hover:after {
  width: 100%;
}

nav a:after {
  text-align: left;
  content: '.';
  margin: 0;
  opacity: 0;
}

nav a:hover:after {
  z-index: -10;
  animation: fill 1s forwards;
  -webkit-animation: fill 1s forwards;
  -moz-animation: fill 1s forwards;
  opacity: 1;
}

/* .notScrolled {
  background-color: #fff !important;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2);
  transition: all .2s ease;
} */
.scrolled {
  background-image: -webkit-linear-gradient(30deg, #000 20.5%, #fff 20.6%);
  background-image: -o-linear-gradient(30deg, #000 20.5%, #fff 20.6%);
  background-image: linear-gradient(120deg, #000 20.5%, #fff 20.6%);
  transition: all .2s ease !important;
}

/* NAVBAR END */
/* TOTOP BTN */
#myBtn {
  height: 40px;
  width: 40px;
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  color: white;
  cursor: pointer;
}

/* *************************************************************** */
/* WELCOME MAIN SECTION */
.Welcome {
  /* min-height: 90vh; */
  overflow-y: hidden;
}

.Welcome .text {
  position: relative;
  top: 70px;
  padding-left: 10vw;
  z-index: 20 !important;
}

.Welcome h1 {
  color: #13d0d5 !important;
  font-size: 7rem;
  font-family: 'Allerta Stencil', sans-serif !important;
}

.Welcome h3 {
  color: #ffd6b3 !important;
  font-size: 2.2rem;
  letter-spacing: 25px;
  position: relative;
  /* top: -20px; */
  left: 45px;
  font-family: 'Allerta Stencil', sans-serif !important;
  margin-bottom: 20px;
}

.Welcome .roundedSquare1 {
  position: absolute;
  top: -120px;
  left: -300px;
  width: 900px;
  height: 900px;
  z-index: -100;
  transform: rotate(30deg);
  border-radius: 170px;
  box-shadow: 0 0 100px 0 rgba(0, 0, 0, 0.4);
  z-index: 10 !important;
}

.Welcome .roundedSquare2 {
  position: absolute;
  top: -170px;
  left: -250px;
  width: 1000px;
  height: 1000px;
  z-index: -110;
  transform: rotate(30deg);
  /* border-radius: 190px;
  box-shadow: 0 0 100px 0 rgba(0, 0, 0, 0.4); */
}

.Welcome .hologram {
  width: 700px !important;
  margin-top: 10vh;
}

.Welcome p {
  color: #fff;
  font-size: 20px;
}

.Welcome a {
  color: #fff;
  font-size: 12px;
  letter-spacing: 1px;
  font-weight: 600;
  /* border: 3px solid #3c4043; */
  border-radius: 8px;
  background-color: #13d0d5;
  box-shadow: 0 20px 20px 2px rgba(0, 0, 0, 0.09);
}

.topSlider {
  margin-top: -35px;
}

.topSlider img {
  width: 300px !important;
  height: 180px !important;
  object-fit: cover !important;
  border-left: 3.5px solid #000 !important;
}

/* *************************************************************** */
/* OFFER IMAGES */
#offers {
  padding: 10vh 0 10vh 0;
}

#offers .description {
  font-size: 30px;
}

#offers .description span {
  font-weight: 600;
}

#offers .row {
  margin-bottom: 3%;
}

#offers h6 {
  /* font-family: 'Prompt', sans-serif; */
  /* text-decoration: underline; */
  color: #80868b;
  letter-spacing: 1px;
  font-weight: 600;
}

#offers .card img {
  width: 70px;
  height: 70px;
  margin-bottom: 20px;
}

#offers .card .blue_circle {
  position: relative;
  top: -40px;
  right: -10px;
  width: 16px;
}

#offers .card .grey_circle {
  position: relative;
  top: 40px;
  right: 100px;
  width: 10px;
}

.card {
  width: 100%;
  height: 310px;
  text-align: center;
  margin-bottom: 20px !important;
  margin: auto;
  padding: 30px 10px 10px 10px;
  box-sizing: border-box;
  border-radius: 25px;
  box-shadow: 0 0 23px 0 rgba(0, 0, 0, 0.09);
  border: none;
  /* border: 1px solid #13d0d5; */
  background-color: #fff;
  transition: all .4s;
}

.card p {
  font-size: 14px;
  color: #80868b;
}

#offers a {
  color: #fff;
  font-size: 12px;
  letter-spacing: 1px;
  font-weight: 600;
  /* border: 3px solid #3c4043; */
  border-radius: 8px;
  background-color: #13d0d5;
  box-shadow: 0 20px 20px 2px rgba(0, 0, 0, 0.09);
}

/* *************************************************************** */
/* BRANDS */
.slider #done_svg {
  width: 650px;
  /* margin-left: 200px; */
}

.slider .description {
  font-size: 36px;
  padding-top: 5vh;
  padding-bottom: 5vh;
}

.slider .description span {
  font-weight: 600;
}

/* *************************************************************** */
/* FOOTER */
.footer {
  padding-top: 10vh;
  padding-bottom: 2vh;
  background-color: #F8FAFB;
  text-align: center;
}

.footer #find_us {
  width: 550px;
}

.footer .directContact {
  text-align: left;
}

.footer .directContact img {
  width: 20px;
  height: 20px;
}

.footer h2 {
  color: #000;
}

.footer h3 {
  font-size: 30px;
  font-weight: 600;
  color: #80868b;
}

.footer h4 {
  font-size: 20px;
  font-weight: 600;
}

.footer h3+p {
  font-size: 16px;
}

.footer p {
  font-size: 14px;
}

.footer iframe {
  width: 100%;
}

.wrapper {
  margin-bottom: 20px;
}

.wrapper img {
  width: 40px;
  height: 40px;
  margin-left: 10px;
  margin-right: 10px;
  transition: all .3s;
}

.wrapper img:hover {
  filter: brightness(70%);
}

/* iframe {
  border-radius: 5px;
  box-shadow: 0 20px 30px 10px #4B4D4D;
} */
/* KEYFRAME ANIMATIONS */
/* MEDIA QUERIES FOR RESPONSIVENESS */
@media (max-width: 2000px) {
  .container {
    max-width: 1500px !important;
  }

  .Welcome .text {
    padding-top: 5vh;
  }

  .Welcome .roundedSquare1 {
    position: absolute;
    top: -120px;
    left: -340px;
    width: 1050px;
    height: 1050px;
    z-index: -100;
    transform: rotate(30deg);
  }

  .Welcome .roundedSquare2 {
    position: absolute;
    top: -170px;
    left: -300px;
    width: 1150px;
    height: 1150px;
    z-index: -110;
    transform: rotate(30deg);
  }

  .Welcome .hologram {
    width: 600px;
    height: 600px;
  }

  .card {
    width: 100%;
    height: 310px;
    margin-bottom: 20px !important;
    margin: auto;
    padding: 30px 20px 10px 20px;
  }
}

@media (max-width: 1700px) {
  .container {
    max-width: 1300px !important;
  }

  .Welcome .roundedSquare1 {
    position: absolute;
    top: -120px;
    left: -340px;
    width: 900px;
    height: 900px;
    z-index: -100;
    transform: rotate(30deg);
  }

  .Welcome .roundedSquare2 {
    position: absolute;
    top: -170px;
    left: -300px;
    width: 1000px;
    height: 1000px;
    z-index: -110;
    transform: rotate(30deg);
  }

  .Welcome .hologram {
    width: 450px;
    height: 450px;
  }
}

@media (max-width: 1350px) {
  .container {
    max-width: 1000px !important;
  }

  .Welcome .text {
    position: relative;
    top: 70px;
  }

  .Welcome h1 {
    font-size: 120px;
  }

  .Welcome h3 {
    font-size: 36px;
  }

  .Welcome .roundedSquare1 {
    position: absolute;
    top: -120px;
    left: -380px;
    width: 900px;
    height: 900px;
    z-index: -100;
    transform: rotate(30deg);
  }

  .Welcome .roundedSquare2 {
    position: absolute;
    top: -170px;
    left: -380px;
    width: 1000px;
    height: 1000px;
    z-index: -110;
    transform: rotate(30deg);
  }

  .Welcome .hologram {
    width: 350px;
    height: 350px;
  }

  .card {
    width: 100%;
    height: 350px;
  }

  .slider #done_svg {
    width: 500px;
  }
}

@media only screen and (max-width: 760px) {
  .container {
    max-width: auto !important;
  }

  body {
    overflow-x: hidden !important;
  }

  nav {
    padding: 8px 25px !important;
    transition: all .2s;
  }

  nav a {
    text-align: right;
    font-size: 20px;
    padding: 10px 0px !important;
    margin: 0px !important;
  }

  nav .menu {
    font-size: 28px;
    margin-top: 5px;
    color: #5f6368 !important;
  }

  nav ul li:first-child a {
    border-top: 0.5px solid #0003;
  }

  .scrolled {
    background-image: -webkit-linear-gradient(30deg, #000 40.3%, #fff 40.6%);
    background-image: -o-linear-gradient(30deg, #000 40.3%, #fff 40.6%);
    background-image: linear-gradient(120deg, #000 40.3%, #fff 40.6%);
  }

  .Welcome {
    min-height: 100vh;
    overflow-x: hidden !important;
    overflow-y: hidden;
  }

  .Welcome .roundedSquare1 {
    position: absolute;
    top: 50px;
    left: -100px;
    width: 500px;
    height: 500px;
    z-index: -110;
    transform: rotate(30deg);
  }

  .Welcome .roundedSquare2,
  .footer #find_us {
    display: none;
  }

  .slider #done_svg {
    width: 280px !important;
    margin-bottom: 20px;
  }

  .Welcome .hologram {
    width: 300px !important;
    margin-bottom: 0px !important;
  }

  .Welcome h1 {
    font-size: 4.5rem;
  }

  .Welcome h3 {
    font-size: 1.5rem;
    letter-spacing: 15px;
    left: 30px;
  }

  .Welcome p {
    font-size: 20px;
  }

  .Welcome p br {
    display: none;
  }

  .topSlider {
    margin-top: -80px !important;
    margin-bottom: 50px !important;
  }

  .topSlider img {
    width: 100% !important;
    height: 80px !important;
    margin: 0 !important;
    border-left: 2.5px solid #000 !important;

  }

  /* .Welcome a {
    color: #3c4043;
    font-size: 12px;
    font-weight: 600;
    border: 3px solid #3c4043;
    border-radius: 8px;
    background-color: transparent;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  } */
  #offers {
    margin-bottom: 10%;
    padding: 0vh 20px 10vh 20px;
  }

  #offers .card {
    height: 300px;
    margin-bottom: 50px !important;
  }

  .footer .directContact {
    text-align: center;
  }

  .slider .description {
    font-size: 30px;
    position: relative;
    top: 0px;
    margin-bottom: 20%;
  }
}
