@font-face {
  font-family: 'Allerta Stencil';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Allerta Stencil/Allerta-Stencil-normal-400.eot);
  src: local('Allerta Stencil'), url(../fonts/Allerta Stencil/Allerta-Stencil-normal-400.ttf) format('truetype'), url(../fonts/Allerta Stencil/Allerta-Stencil-normal-400.woff) format('woff'), url(../fonts/Allerta Stencil/Allerta-Stencil-normal-400.woff2) format('woff2'), url(../fonts/Allerta Stencil/Allerta-Stencil-normal-400.eot?#iefix) format('embedded-opentype'), url(../fonts/Allerta Stencil/Allerta-Stencil-normal-400.svg#AllertaStencil) format('svg');
}

