.landing-section {
  height: 650px;
  overflow: hidden;
  position: relative;
  background-color: #212121;

  background-image: linear-gradient(120deg, #000 30%, #0002),
    url("../../../assets/images/tecom-landing-bg.jpeg");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  // background-attachment: fixed;
  position: relative;

  .content {
    position: relative;
    z-index: 200 !important;
    padding-top: 17vh;
    min-height: 550px;

    .logo-remake {
      font-family: "Allerta Stencil", sans-serif !important;
    }

    h1 {
      color: #13d0d5;
      font-size: 6rem;
      margin: 0;
    }

    h3 {
      color: #ffd6b3;
      font-size: 1.5rem;
      letter-spacing: 25px;
      position: relative;
      left: 45px;
      margin-bottom: 30px;
    }
  }

  .black-wave {
    display: none;
  }

  p {
    color: #fff;
    font-size: 1.1rem;
  }

  .btn {
    color: #fff;
    font-size: 0.9rem;
    letter-spacing: 1px;
    font-weight: 600;
    border-radius: 22px;
    min-width: 140px;
  }

  .btn-contact {
    margin-right: 40px;
    color: #13d0d5;
    border: 2px solid #13d0d5;
    transition: all 0.3s;

    &:hover {
      background-color: #13d0d5;
      color: #3c4043;
    }
  }

  .btn-main-in {
    color: #ffd6b3;
    border: 2px solid #ffd6b3;
    transition: all 0.3s;

    &:hover {
      background-color: #ffd6b3;
      color: #3c4043;
    }
  }
}

#video {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 100%;
  width: 100vw !important;
  z-index: 1;
  object-fit: cover;
}

.topSlider {
  position: absolute;
  bottom: 0;

  .slide {
    margin: 0;
    padding: 0;

    img {
      width: 300px;
      height: 180px;
      object-fit: cover;
      border-left: 3.5px solid #000;
    }
  }
}
@media (max-width: 3000px) {
}
@media (max-width: 2000px) {
}

@media (max-width: 1100px) {
  .landing-section {
    background-color: #212121;
    text-align: center;
    position: relative;
    background-image: linear-gradient(to top, #000 10%, #0009 60%),
      url("../../../assets/images/tecom-landing-bg.jpeg");

    .content {
      padding-top: 20vh !important;
    }

    h1 {
      font-size: 6rem !important;
    }

    h3 {
      font-size: 1.5rem !important;
      letter-spacing: 15px;
      left: 20px !important;
    }

    p {
      // font-size: 20px;

      br {
        display: none;
      }
    }

    .black-wave {
      // display: block !important;
      position: absolute;
      bottom: -2px;
      left: 0;
      right: 0;
      width: 100vw;
    }
  }
}

@media (max-width: 1100px) {
}
