.landing-section {
  height: 600px;
  overflow: hidden;
  position: relative;
  background-color: #212121;

  background-image: linear-gradient(90deg, #00000099 52%, #0002),
    url("../../../assets/images/tecom-landing-bg.jpeg");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  // background-attachment: fixed;
  position: relative;

  .content {
    position: relative;
    z-index: 200 !important;
    padding-top: 120px;

    .logo-remake {
      font-family: "Allerta Stencil", sans-serif !important;
    }

    h1 {
      color: #13d0d5;
      font-size: 6rem;
      margin: 0;
    }

    h3 {
      color: #ffd6b3;
      font-size: 1.5rem;
      letter-spacing: 25px;
      position: relative;
      left: 45px;
      margin-bottom: 20px;
    }
  }

  .roundedSquare1 {
    position: absolute;
    top: -120px;
    left: -300px;
    width: 57rem;
    transform: rotate(30deg);
    filter: drop-shadow(0 3px 40px #0009);
    z-index: 100 !important;
  }

  .roundedSquare2 {
    position: absolute;
    top: -170px;
    left: -250px;
    width: 63rem;
    z-index: 1;
    transform: rotate(30deg);
  }

  .black-wave {
    display: none;
  }

  .hologram {
    width: 96%;
    // margin-top: 15vh;
    filter: drop-shadow(0 3px 40px #f1f1f1);
    position: absolute;
    right: 0;
    bottom: -20px;
  }

  p {
    color: #fff;
    font-size: 1.2rem;
  }

  .btn {
    color: #fff;
    font-size: 0.9rem;
    letter-spacing: 1px;
    font-weight: 600;
    border-radius: 8px;
  }

  .btn-contact {
    background-color: #13d0d5;
    margin-right: 40px;
    color: #3c4043;
  }

  .btn-main-in {
    background-color: #ffd6b3;
    color: #3c4043;
  }
}

#video {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 100%;
  width: 100vw !important;
  z-index: 1;
  object-fit: cover;
}

.topSlider {
  position: absolute;
  bottom: 0;

  .slide {
    margin: 0;
    padding: 0;

    img {
      width: 300px;
      height: 180px;
      object-fit: cover;
      border-left: 3.5px solid #000;
    }
  }
}
@media (max-width: 3000px) {
}
@media (max-width: 2000px) {
}
@media (max-width: 1700px) {
  .roundedSquare1 {
    position: absolute;
    left: -400px !important;
  }

  .roundedSquare2 {
    position: absolute;
    left: -380px !important;
  }
}
@media (max-width: 1500px) {
  .roundedSquare1 {
    position: absolute;
    left: -450px !important;
  }

  .roundedSquare2 {
    position: absolute;
    left: -440px !important;
  }
}
@media (max-width: 1390px) {
  .roundedSquare1 {
    position: absolute;
    left: -450px !important;
  }

  .roundedSquare2 {
    position: absolute;
    left: -440px !important;
  }
}
@media (max-width: 1290px) {
  .roundedSquare1 {
    position: absolute;
    left: -500px !important;
  }

  .roundedSquare2 {
    position: absolute;
    left: -490px !important;
  }
}
@media (max-width: 1000px) {
  .landing-section {
    background-color: #212121;
    // overflow-x: hidden !important;
    // overflow-y: hidden !important;
    text-align: center;
    position: relative;

    h1 {
      font-size: 6rem !important;
    }

    h3 {
      font-size: 1.5rem !important;
      letter-spacing: 15px;
      left: 20px !important;
    }

    p {
      font-size: 20px;

      br {
        display: none;
      }
    }

    .d-flex {
      justify-content: center;
    }

    .roundedSquare1,
    .roundedSquare2 {
      display: none;
    }

    .black-wave {
      display: block !important;
      position: absolute;
      bottom: -1px;
      left: 0;
      right: 0;
      width: 100vw;
    }

    .hologram {
      // width: 90% !important;
      // margin-bottom: 0 !important;
      display: none;
    }
  }
}

@media (max-width: 770px) {
  .landing-section {
    background-image: linear-gradient(to top, #000000 2%, #0003),
      url("../../../assets/images/tecom-landing-bg.jpeg");
    background-position: bottom !important;
    background-attachment: scroll !important;
    // min-height: 700px;

    .content {
      padding-top: 80px !important;
      h1,
      h3 {
        // text-shadow: 1px 0 #000, -2px 0 #000, 0 1px #000, 0 -1px #000,
        //   1px 1px #000, -1px -1px #000, 1px -1px #000, -1px 1px #000;
      }
    }
  }
}
