/* NAVBAR  */
nav {
  background-color: #fff !important;
  padding: 0 100px !important;
  box-shadow: 0 5px 20px 2px rgba(0, 0, 0, 0.09);
  height: 60px;
  transition: all 0.2s;

  .navbar-brand {
    color: #13d0d5 !important;
    font-family: 'Allerta Stencil', sans-serif !important;
    line-height: 18px;

    span span {
      color: #ffd6b3;
      font-size: 10px;
      letter-spacing: 2px;
      position: relative;
      left: 5px;
    }
  }

  .open-hours {
    font-size: 0.9rem;
    margin-right: 5%;

    .fa-clock {
      margin-right: 5px;
    }
  }

  .nav-link {
    color: #5f6368 !important;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
    position: relative;
    margin: 0 10px;
    padding: 10px;
    z-index: 0;
    cursor: pointer;
    transition: all 0.2s ease;

    &:after {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      width: 0;
      content: '.';
      color: transparent;
      background: #aaa;
      height: 1px;
      text-align: left;
      content: '.';
      margin: 0;
      opacity: 0;
    }

    &:hover:after {
      width: 100%;
      z-index: -10;
      animation: fill 1s forwards;
      -webkit-animation: fill 1s forwards;
      -moz-animation: fill 1s forwards;
      opacity: 1;
    }
  }

  .navbar-toggler {
    position: absolute;
    right: 10px;
    top: 15px;
    border: none;
    outline: none;
    font-size: 1.8rem;
    color: #3c4043;
  }
}

.dropdown {
  &:hover {
    .dropdown-menu {
      display: block;
    }
  }

  .dropdown-toggle-btn {
    i {
      margin-left: 10px;
    }
  }

  .dropdown-menu {
    display: none;
    margin-top: -3px;
    padding: 0;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),0 4px 6px -2px rgba(0, 0, 0, 0.05);
    width: 300px;

    .dropdown-item {
      white-space: normal;
      transition: all 50ms ease;
      padding: 12px;
      cursor: pointer;
      font-size: 0.9rem;
      color: #5f6063;
      border-bottom: 1px solid #f1f1f1;

      &:hover {
        background-color: #f9fafb;
        // border: none!important;
      }
    }
  }

  .active-dropdown-item {
    background-color: #13d0d5!important;
    color: #3c4043!important;
    // font-weight: 600;
  }
}

.side-menu {
  width: 0;
  height: 100%;
  position: fixed;
  top: 60px;
  right: 0;
  transition: all 0.2s;

  .main-list {
    padding: 0;
    list-style: none;
    transition: all 0.3s;
    margin-left: auto;
    width: 0;
    height: 0;
    border-radius: 0 0 0 8px;

    li {
      padding-right: 20px;
    }
  }

  .services-listing {
    background-color: #f1f1f1;
    padding-left: 0;
    list-style-type: none;
    width: 0;

    li {
      border-bottom: 1px solid #e1e1e1;
      // max-width:200px;
      font-size: 0.8rem!important;
      word-wrap: break-word!important;
      display: block;
      text-align: right;
      padding: 10px;
      padding-right: 20px;
    }

    .active-dropdown-item {
      background-color: #13d0d5!important;
      color: #3c4043!important;
      // font-weight: 600;
    }
  }
}

.open-side-menu {
  width: 100%;
  backdrop-filter: blur(2px);

  .main-list {
    width: 300px;
    height: auto;
    background-color: #fff;
    box-shadow: -10px 10px 20px 0 rgba(0,0,0,0.09);
  }

  .services-listing{
    width: 300px;
  }
}

.scrolled {
  background-image: -webkit-linear-gradient(30deg, #000 20.5%, #fff 20.6%);
  background-image: -o-linear-gradient(30deg, #000 20.5%, #fff 20.6%);
  background-image: linear-gradient(120deg, #000 20.5%, #fff 20.6%);
  transition: all 0.2s ease !important;
}
@media (max-width:1100px) {
  .open-hours {
    display: none;
  }
}
@media only screen and (max-width: 1000px) {
  nav {
    padding: 8px 25px !important;
    transition: all 0.2s;
    display: none;

    a {
      text-align: right;
      font-size: 20px;
      padding: 10px 0 !important;
      margin: 0 !important;
    }

    ul li:first-child {
      border-top: 0.5px solid #0003;
    }
  }

  .scrolled {
    background-image: -webkit-linear-gradient(30deg, #000 40.3%, #fff 40.6%);
    background-image: -o-linear-gradient(30deg, #000 40.3%, #fff 40.6%);
    background-image: linear-gradient(120deg, #000 40.3%, #fff 40.6%);
    transition: all 0.2s;
    display: block!important;
  }
}
