/* NAVBAR  */
nav {
  background-color: #fff !important;
  padding: 0 100px !important;
  box-shadow: 0 5px 20px 2px rgba(0, 0, 0, 0.09);
  height: 60px;
  transition: all 0.2s;

  .navbar-brand {
    color: #13d0d5 !important;
    font-family: 'Allerta Stencil', sans-serif !important;
    line-height: 18px;

    span span {
      color: #ffd6b3;
      font-size: 10px;
      letter-spacing: 2px;
      position: relative;
      left: 5px;
    }
  }

  .open-hours {
    font-size: 0.9rem;
    margin-right: 5%;

    .fa-clock {
      margin-right: 5px;
    }
  }

  a {
    color: #5f6368 !important;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
    position: relative;
    margin: 0 10px;
    padding: 10px;
    z-index: 0;
    cursor: pointer;
    transition: all 0.2s ease;

    &:after {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      width: 0;
      content: '.';
      color: transparent;
      background: #aaa;
      height: 1px;
      text-align: left;
      content: '.';
      margin: 0;
      opacity: 0;
    }

    &:hover:after {
      width: 100%;
      z-index: -10;
      animation: fill 1s forwards;
      -webkit-animation: fill 1s forwards;
      -moz-animation: fill 1s forwards;
      opacity: 1;
    }
  }

  .navbar-toggler {
    position: absolute;
    right: 10px;
    top: 15px;
    border: none;
    outline: none;
    font-size: 1.8rem;
    color: #3c4043;
  }
}

.side-menu {
  width: 0;
  height: 100%;
  position: fixed;
  top: 60px;
  right: 0;
  transition: all 0.2s;

  ul {
    padding: 0;
    list-style: none;
    transition: all 0.3s;
    margin-left: auto;
    width: 0;
    height: 0;
    border-radius: 0 0 0 8px;

    li {
      padding-right: 20px;
    }
  }
}

.open-side-menu {
  width: 100%;

  ul {
    width: 200px;
    height: 230px;
    background-color: #fff;
    box-shadow: -10px 10px 20px 0 rgba(0,0,0,0.09);
  }
}

.scrolled {
  background-image: -webkit-linear-gradient(30deg, #000 20.5%, #fff 20.6%);
  background-image: -o-linear-gradient(30deg, #000 20.5%, #fff 20.6%);
  background-image: linear-gradient(120deg, #000 20.5%, #fff 20.6%);
  transition: all 0.2s ease !important;
}
@media (max-width:1100px) {
  .open-hours {
    display: none;
  }
}
@media only screen and (max-width: 760px) {
  nav {
    padding: 8px 25px !important;
    transition: all 0.2s;
    display: none;

    a {
      text-align: right;
      font-size: 20px;
      padding: 10px 0 !important;
      margin: 0 !important;
    }

    ul li:first-child {
      border-top: 0.5px solid #0003;
    }
  }

  .scrolled {
    background-image: -webkit-linear-gradient(30deg, #000 40.3%, #fff 40.6%);
    background-image: -o-linear-gradient(30deg, #000 40.3%, #fff 40.6%);
    background-image: linear-gradient(120deg, #000 40.3%, #fff 40.6%);
    transition: all 0.2s;
    display: block!important;
  }
}
