<div class="container" id="offers" [ngClass]="{'drop-in-4':animateAfterViewInit}" [hidden]="!animateAfterViewInit">
  <h3 class="description text-center mb-5"> Have a look at some of the <span>expertise services</span> we offer. </h3>

  <div class="d-none d-lg-block" *ngFor="let offersArr of offers;">
    <div class="row justify-content-center mx-0 mb-4">
      <div class="col-6 col-md-6 col-lg-3 pl-ms-0 pr-ms-0" *ngFor="let offer of offersArr;index as i">
        
        <div class="card h-100">

          <a class="d-flex flex-column text-decoration-none" [routerLink]="['/service',offer.index]">
            <div class="text-center position-relative">
              <img [src]="offer.imgUrl" alt="icon">
              <img class="grey_circle" src="assets/images/circle-grey.svg" alt="grey circle">
              <img class="blue_circle" src="assets/images/circle-blue.svg" alt="blue circle">
            </div>

            <h6>{{offer.title}}</h6>
            <p class="flex-grow-1">{{offer.description}}</p>
          </a>

          <div class="d-flex justify-content-between align-items-center mt-auto">

            <a class="link" [routerLink]="['/service',offer.index]">Learn more <span><i
                  class="fas fa-long-arrow-alt-right"></i></span></a>
            <a class="btn btn-link" data-bs-toggle="modal" data-bs-target="#mailInModal" [routerLink]="''"
              [queryParams]="{ type:'services', index: offer.index }">Inquire</a>

          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="d-block d-lg-none">
    <div class="row justify-content-md-center mx-0">
      <div class="col-6 col-md-4 pl-ms-0 pr-ms-0" *ngFor="let offer of offersMobile ;index as i">
        <div class="card">
        
          <a class="d-flex flex-column text-decoration-none px-0 px-md-2" [routerLink]="['/service',offer.index]">
            <div class="text-center position-relative">
              <img [src]="offer.imgUrl" alt="icon">
              <img class="grey_circle" src="assets/images/circle-grey.svg" alt="grey circle">
              <img class="blue_circle" src="assets/images/circle-blue.svg" alt="blue circle">
            </div>
        
            <h6>{{offer.title}}</h6>
            <p class="flex-grow-1">{{offer.description}}</p>
          </a>
        
          <div class="d-flex justify-content-between align-items-center mt-auto">
        
            <a class="link" [routerLink]="['/service',offer.index]">Learn more <span><i
                  class="fas fa-long-arrow-alt-right"></i></span></a>
            <a class="btn btn-link" data-bs-toggle="modal" data-bs-target="#mailInModal" [routerLink]="''"
              [queryParams]="{ type:'services', index: offer.index }">Inquire</a>
        
          </div>
        </div>
      </div>

    </div>
  </div>


  <div align="center">
    <a href="#contact" class="btn btn-contact mt-4"> Talk to us <span class="ms-2">&#8702;</span></a>
  </div>


</div>