/* WELCOME MAIN SECTION */
.landing-section {
  height: 80vh;
  overflow: hidden;
  position: relative;

  .content {
    position: relative;
    top: 100px;
    padding-left: 10vw;
    z-index: 200!important;

    h1 {
      color: #13d0d5;
      font-size: 7rem;
      font-family: 'Allerta Stencil', sans-serif !important;
    }

    h3 {
      color: #ffd6b3;
      font-size: 2.2rem;
      letter-spacing: 25px;
      position: relative;
      left: 45px;
      font-family: 'Allerta Stencil', sans-serif !important;
      margin-bottom: 20px;
    }
  }

  .roundedSquare1 {
    position: absolute;
    top: -120px;
    left: -300px;
    width: 900px;
    height: 900px;
    transform: rotate(30deg);
    filter: drop-shadow(0 3px 40px #0009);
    z-index: 100 !important;
  }

  .roundedSquare2 {
    position: absolute;
    top: -170px;
    left: -250px;
    width: 1000px;
    height: 1000px;
    z-index: 1;
    transform: rotate(30deg);
    // filter: drop-shadow(0 3px 40px #0001);
  }

  .hologram {
    width: 800px !important;
    margin-top: 10vh;
    filter: drop-shadow(0 3px 40px #f1f1f1);
    // position: absolute;
    // bottom: 0;
  }

  p {
    color: #fff;
    font-size: 20px;
  }

  .btn {
    color: #fff;
    font-size: 0.9rem;
    letter-spacing: 1px;
    font-weight: 600;
    border-radius: 8px;
  }

  .btn-contact {
    background-color: #13d0d5;
    margin-right: 20px;
    color: #3c4043;
  }

  .btn-main-in {
    background-color: #ffd6b3;
    color: #3c4043;
  }
}

.topSlider {
  position: absolute;
  bottom: 0;

  .slide {
    margin: 0;
    padding: 0;

    img {
      width: 300px;
      height: 180px;
      object-fit: cover;
      border-left: 3.5px solid #000;
    }
  }
}
/* *************************************************************** */
/* OFFER IMAGES */
#offers {
  padding: 10vh 0;

  .description {
    font-size: 30px;

    span {
      font-weight: 600;
    }
  }

  .row {
    margin-bottom: 3%;
  }

  h6 {
    /* font-family: 'Prompt', sans-serif; */
    /* text-decoration: underline; */
    color: #80868b;
    letter-spacing: 1px;
    font-weight: 600;
  }

  .card {
    width: 100%;
    height: 310px;
    text-align: center;
    margin: auto;
    padding: 30px 10px 10px;
    box-sizing: border-box;
    border-radius: 25px;
    box-shadow: 0 0 23px 0 rgba(0, 0, 0, 0.09);
    border: none;
    /* border: 1px solid #13d0d5; */
    background-color: #fff;
    transition: all 0.4s;

    img {
      width: 70px;
      height: 70px;
      margin-bottom: 20px;
    }

    .blue_circle {
      position: relative;
      top: -40px;
      right: -10px;
      width: 16px;
    }

    .grey_circle {
      position: relative;
      top: 40px;
      right: 100px;
      width: 10px;
    }

    p {
      font-size: 14px;
      color: #80868b;
    }
  }

  a {
    color: #fff;
    font-size: 12px;
    letter-spacing: 1px;
    font-weight: 600;
    /* border: 3px solid #3c4043; */
    border-radius: 8px;
    background-color: #13d0d5;
    box-shadow: 0 20px 20px 2px rgba(0, 0, 0, 0.09);
  }
}
/* *************************************************************** */
// * BRANDS */
//

.brands {
  #done_svg {
    width: 650px;
    filter: drop-shadow(0 3px 40px #f1f1f1);

    /* margin-left: 200px; */
  }

  .description {
    font-size: 36px;
    padding-top: 5vh;
    padding-bottom: 5vh;

    span {
      font-weight: 600;
    }
  }

  .brands-slider {
    position: relative;
    min-height: 150px;
    margin: 30px 0;

    .slide {
      margin: 0;
      padding: 0;

      img {
        width: 250px;
        height: 120px;
        object-fit: contain;
      }
    }
  }
}
/* *************************************************************** */
// * CONTACT */
//

#contact {
  padding-top: 10vh;
  padding-bottom: 2vh;
  background-color: #F8FAFB;
  text-align: center;

  #find_us {
    width: 550px;

  }

  .directContact {
    text-align: left;
  }

  h3 {
    font-size: 30px;
    font-weight: 600;
    color: #3c4043;
  }

  h3+p {
    font-size: 16px;
  }

  h4 {
    font-size: 20px;
    font-weight: 600;
  }

  a,
  span.block {
    font-size: 14px;
    color: #80868b;
  }

  .wrapper {
    margin-bottom: 20px;

    img {
      width: 40px;
      height: 40px;
      margin-left: 10px;
      margin-right: 10px;
      transition: all 0.3s;

      &:hover {
        filter: brightness(70%);
      }
    }
  }
}



// Infinite scroll logo carousel
$animationSpeed: 40s; // Animation
@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(calc(-250px * 6));
  }
}

.slider {
  margin: auto;
  overflow-x: hidden;
  z-index: 10!important;

  .slide-track {
    animation: scroll $animationSpeed linear infinite;
    display: flex;

    &:hover {
      animation-play-state: paused;
      // overflow-x: scroll;
    }
  }
}
