<img (click)="topFunction()" class="to-top" title="Go to top" alt="to-top" src="assets/images/totop.svg" *ngIf="showArrow">

<div class="container-fluid" [@fadeIn]>

  <main class="landing-section" id="landingDiv">

    <img class="roundedSquare1" src="assets/images/rounded-black-square.svg" alt="rounded-square">
    <img class="roundedSquare2" src="assets/images/rounded-grey-square.svg" alt="rounded-square">


    <div class="container">
      <div class="row">
        <div class="col-md-12 col-lg-6">

          <div class="content">
            <div class="logo-remake">
              <h1>TECOM</h1>
              <h3>ADVANCE</h3>
            </div>
            <p>The one-stop service store for your <br> <strong>technology</strong>, <strong>security</strong> and <strong>repair</strong> needs.</p>
            <p>Drop-in or <strong>mail-in</strong> your device by <br> filling out our Mail-In Form.</p>
            <div class="d-flex">
              <a href="#contact" class="btn btn-lg btn-contact my-4"> Talk to us <span class="ml-2">&#8702;</span></a>
              <a class="btn btn-lg btn-main-in my-4" data-toggle="modal" data-target="#mailInModal" [routerLink]="''" [queryParams]="{ om: 'opn' }"> Mail in <span class="ml-2">&#8702;</span></a>
            </div>
          </div>


        </div>

        <div class="col-md-6 text-center">

          <div class="illustation-holder">
            <img class="hologram" src="assets/images/circuit.svg" alt="hologram">
          </div>
        </div>

      </div>

    </div>

    <!-- <div class="slider topSlider">
      <div class="slide-track">
        <div class="slide" *ngFor="let img of workImages;index as i">
          <img [src]="img.imgUrl" [alt]="img.name">
        </div>
      </div>
    </div> -->

    <img class="black-wave" src="assets/images/white-mobile-sc-wave.svg" alt="wave">

  </main>

  <div id="services">
    <div class="container" id="offers">

      <h3 class="description text-center mb-5"> Have a look at some of the <span>expertise services</span> we offer </h3>
      <div class="row mx-0">
        <div class="col-6 col-md-4 col-lg-3 pl-ms-0 pr-ms-0" *ngFor="let offer of offers;index as i">
          <div class="card">

            <div align="center">
              <img [src]="offer.imgUrl"alt="icon" >
              <img class="grey_circle" src="assets/images/circle-grey.svg" alt="grey circle">
              <img class="blue_circle" src="assets/images/circle-blue.svg" alt="blue circle">

            </div>
            <h6>{{offer.title}}</h6>
            <p>{{offer.description}}</p>

          </div>
        </div>

      </div>


      <div align="center">
        <a href="#contact" class="btn btn-contact mt-4"> Talk to us <span class="ml-2">&#8702;</span></a>
      </div>


    </div>


    <div class="container brands">

      <div class="row">
        <div class="col-md-6 col-lg-7">
          <img id="done_svg" src="assets/images/undraw_done.svg" alt="done">


        </div>
        <div class="col-md-6 col-lg-4">
          <h3 class="description text-left"> We have proficiency assurance in a wide variety of <span>products & Brands'</span> flagship devices.</h3>
        </div>

      </div>


      <div class="slider brands-slider">
        <div class="slide-track">
          <div class="slide" *ngFor="let brand of brandImages;index as i">
            <img [src]="brand.imgUrl" [alt]="brand.name">
          </div>
        </div>
      </div>


    </div>

  </div>

  <div id="contact">
    <div class="container">
      <div class="row">
        <div class="col-md-6">

          <h3>CONTACT US </h3>
          <p class="mb-5">We're understand that you may have much on your plate ... <br> No stress , we'll come to you and repair your device on site ! <br> <strong>Get in touch</strong> with us today.</p>

          <div class="row">

            <div class="col-md-6 mb-5">


              <h4 class="mb-3">ADDRESS</h4>
              <span class="d-block">KIAMBU ROAD</span>
              <span class="d-block">PONGEZI PLAZA</span>
              <span class="d-block">FIRST FLOOR, ROOM <strong>FF11</strong></span>

              <a href="https://goo.gl/maps/6tXig9GF3Mz">
                <p style="text-decoration:underline; cursor:pointer;">Google Maps &#x21AA;</p>
              </a>
            </div>

            <div class="col-md-6 directContact mb-5">

              <h4 class="mb-3"> DIRECT CONTACT </h4>

              <span class="d-block mb-2">
                <span> <i class="fas fa-phone mr-2"></i> </span>
                <a href="tel:+254 792 553 595">+254 792 553 595</a>
              </span>
              <span class="d-block mb-2">
                <span> <i class="fas fa-phone mr-2"></i> </span>
                <a href="tel:+254 720 402 275">+254 720 402 275</a>
              </span>

              <span class="d-block mb-2">
                <span> <i class="fas fa-envelope mr-2"></i> </span>
                <a href="mailto:support@tecomadvance.com">support@tecomadvance.com</a>
              </span>
              <span class="d-block mb-2">
                <span> <i class="fas fa-envelope mr-2"></i> </span>
                <a href="mailto:tecomadvance@gmail.com">tecomadvance@gmail.com</a>
              </span>

            </div>

          </div>
          <div class="row">
            <!-- <div class="col-md-3"></div> -->
            <div class="col-12">
              <h4 class="description mb-3"> WE'RE SOCIAL</h4>

              <div class="wrapper" style="display:flex;justify-content:center;align-items:center;">

                <a href="https://wa.me/254792553595?text=Hello%20Tecom%20Advance%20..." rel="external nofollow noopener" target="_blank">
                  <img src="assets/images/Whatsapp.png" title="Whatsapp" alt="icon"> </a>
                <a href="https://www.facebook.com/TecomAdvance/" target="_blank">
                  <img src="assets/images/Facebook.png" title="Facebook" alt="icon"></a>
                <a href="https://www.instagram.com/tecom.advance/" target="_blank">
                  <img src="assets/images/Instagram.png" title="Instagram" alt="icon"></a>
                <a href="https://twitter.com/Tecom_Tech" target="_blank">
                  <img src="assets/images/Twitter.png" title="Twitter" alt="icon"></a>

              </div>

            </div>
          </div>

        </div>
        <div class="col-md-6">

          <img id="find_us" src="assets/images/undraw_social_media.svg" alt="social media">

        </div>

      </div>
    </div>
  </div>
</div>



<!-- Modal -->
<div class="modal mail-in-modal fade p-0" id="mailInModal" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="mailInModalLabel" aria-hidden="true">
  <app-mail-in></app-mail-in>
</div>
