<div>
  <div class="footer" id="contact">

    <div class="iframe-container">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15955.94656716787!2d36.827!3d-1.1698936!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xfe6abe58add7568e!2sTecom%20Advance!5e0!3m2!1sen!2ske!4v1651145446179!5m2!1sen!2ske"
        width="100%" height="200" title="google maps" frameborder="0" style="border:0" allowfullscreen></iframe>

    </div>
    <div class="container py-3 text-center">
      <small>&#9400; {{year}} &nbsp;&nbsp; <strong>TECOM ADVANCE</strong> </small>
    </div>


  </div>
</div>