<div id="contact">
  <div class="footer" id="contact">
    <div class="container">
      <div class="row">

        <div class="col-md-6">
          <h3>Contact us </h3>
          <p class="mb-5">We're understand that you may have much on your plate ... <br> No stress , we'll come to you and repair your device on site ! <br> <strong>Get in touch</strong> with us today.</p>

          <div class="row">

            <div class="col-md-6 mb-5">
              <h4 class="mb-3">ADDRESS</h4>
              <p>KIAMBU , BIASHARA ST <br>
                KIKA STALLS, <br>
                STALL NO.
                <strong>H4</strong>
              </p>

              <a href="https://goo.gl/maps/6tXig9GF3Mz">
                <p style="text-decoration:underline; cursor:pointer; color: #images/phonelogos;">Google Maps &#x21AA;</p>
              </a>
            </div>

            <div class="col-md-6 directContact mb-5">

              <h4 class="mb-3"> DIRECT CONTACT </h4>
              <p>
                <span>
                  <i class="fas fa-phone mr-2"></i>
                </span>
                <span>+254 720 402 275</span> </P>
              <p>

                <span>
                  <i class="fas fa-envelope mr-2"></i>
                </span>
                <span>tecomadvance@gmail.com</span>
              </p>

            </div>

          </div>
          <div class="row">
            <!-- <div class="col-md-3"></div> -->
            <div class="col-12">
              <h4 class="description mb-3"> WE'RE SOCIAL</h4>

              <div class="wrapper" style="display:flex;justify-content:center;align-items:center;">

                <a href="https://www.facebook.com/TecomAdvance/" target="_blank"><img src="images/Facebook.png" title="Facebook"></a>
                <a href="https://www.instagram.com/tecom.advance/" target="_blank"><img src="images/Instagram.png" title="Instagram"></a>
                <a href="https://twitter.com/Tecom_Tech" target="_blank"><img src="images/Twitter.png" title="Twitter"></a>

              </div>

            </div>
            <div class="col-md-6"></div>

          </div>

        </div>
        <div class="col-md-6">

          <img id="find_us" src="images/undraw_social_media.svg" alt="social media">

        </div>

      </div>
    </div>

    <br>
    <br>

    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3988.987121565491!2d36.82449351504967!3d-1.1695560991469005!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x182f3d131a527f05%3A0xfe6abe58add7568e!2sTecom+Advance!5e0!3m2!1sen!2ske!4v1552042196775"
      width="100%" height="200" frameborder="0" style="border:0" allowfullscreen></iframe>

    <div class="container mt-2">
      <small>&#9400;
        <script>
          var currentYear = new Date().getFullYear();
          document.write(currentYear);
        </script>
        <strong>TECOM ADVANCE</strong> | All Rights Reserved </small>
    </div>


  </div>
</div>
