<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="mailInModalLabel">
        <!-- <span *ngIf="stage === 1">Terms and Conditions</span> -->
        <span>{{requestType === 'services' ? 'Service inquiry' : 'Mail-in request'}}</span>
      </h5>
      <button type="button" class="close" (click)="reset()" data-dismiss="modal" aria-label="Close" [disabled]="sending">
        <span aria-hidden="true"><i class="fas fa-times-circle"></i></span>
      </button>
    </div>
    <div class="modal-body">

      <div class="disclaimer" *ngIf="stage === 3" [@fadeIn]>
        <div [innerHTML]="disclaimer">
        </div>
      </div>

      <div *ngIf="stage === 1" [@fadeIn]>
        <p class="description">Fill in <strong>ALL</strong> the form fields accurately for better service</p>

        <div class="alert alert-danger" *ngIf="hasError" [@fadeIn]>
          <p class="m-0">Sorry, your details could not be sent at this time, please try again later !</p>
        </div>

        <form class="form">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="fullName">Full name</label>
                <input type="text" class="form-control" id="fullName" name="fullName" [(ngModel)]="emailForm.fullName">
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <label for="phone">Phone number</label>
                <input type="text" class="form-control" id="phone" name="phone" [(ngModel)]="emailForm.phone" maxlength="12" oninput="this.value = this.value.replace(/[^0-9]/g, '').replace(/(\..*)\./g, '$1');">
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <label for="email">Email <small>(primary email)</small> <small class="redText font-weight-bold ml-3" *ngIf="emailInvalid">enter a valid email</small></label>
                <input type="text" class="form-control" id="email" name="email" [(ngModel)]="emailForm.email" (ngModelChange)="emailInvalid = false" [ngClass]="{'red-border-input':emailInvalid}" placeholder="e.g . johndoe@gmail.com">
              </div>
            </div>

            <div class="col-md-6" *ngIf="requestType !== 'services'">
              <div class="form-group">
                <label for="location">Location / Address</label>
                <input type="text" class="form-control" id="location" name="location" [(ngModel)]="emailForm.location" placeholder="eg. Kenya, Nairobi, Westlands , CBD">
              </div>
            </div>

            <div class="col-md-6" *ngIf="requestType === 'services'">
              <div class="form-group">
                <label for="service">Services</label>
                <select class="form-control" name="service" [(ngModel)]="emailForm.service">
                  <option [value]="service.index" *ngFor="let service of services;index as i">{{service.title}}</option>
                </select>
              </div>
            </div>

          </div>

          <div class="form-group position-relative" [ngClass]="{'mb-1':ccEmails?.length}">
            <label for="cc">CC emails <small>(optional)</small> <small class="redText font-weight-bold ml-3" *ngIf="ccEmailInvalid">enter a valid email</small> <small class="redText font-weight-bold ml-3" *ngIf="emailExists">email already in
                use</small></label>
            <div class="input-group">
              <input type="text" class="form-control" name="ccEmail" [(ngModel)]="ccEmail" (ngModelChange)="ccEmailInvalid = false;emailExists = false;" (keyup.enter)="ccEmail.length && validateCCEmail()"
                [ngClass]="{'red-border-input':ccEmailInvalid}" placeholder="e.g . company@gmail.com">
              <button type="button" title="add email to cc" class="btn btn-add-email" [disabled]="!ccEmail.length" (click)="ccEmail.length && validateCCEmail()"><i class="fas fa-plus"></i></button>

            </div>
          </div>

          <div class="selected-listing" *ngIf="ccEmails.length" [@fadeIn]>
            <div class="d-inline">
              <span class="selected-item" *ngFor="let email of ccEmails;index as i" [@fadeIn]>
                <span class="me-3">{{email}}</span>
                <span title="Edit" (click)="ccEmail = email;removeEmail(email,i)"><i class="fas fa-pen"></i></span>
                <span title="Remove" (click)="removeEmail(email,i)"><i class="fas fa-times"></i></span>
              </span>
            </div>
          </div>

          <div class="form-group">
            <label for="message">Message</label>
            <textarea name="message" class="form-control" id="message" name="message" [(ngModel)]="emailForm.message" rows="4"
              [placeholder]="requestType === 'services' ? 'Enter a message about inquiry' : 'Describe the problem you are having with your device'"></textarea>
          </div>

          <span class="terms-checkbox">
            <input type="checkbox" name="acceptDisclaimer" [checked]="acceptDisclaimer" [(ngModel)]="acceptDisclaimer" [disabled]="sending || !emailForm.phone || !emailForm.email || !emailForm.fullName || (requestType !== 'services' && !emailForm.location) || !emailForm.message" />
            I have read and accept <a href="assets/Tecom Advance Disclaimer.pdf" download>terms and conditions</a>
          </span>

        </form>
      </div>

      <div class="success-div" *ngIf="stage === 2" [@fadeIn]>
        <div>
          <img src="assets/images/email-sent.png" alt="email-sent">
          <span class="d-block">Hello <strong>{{emailForm?.fullName | firstName}}</strong>,</span>
          <span class="d-block" *ngIf="requestType !== 'services'">We've received your repair mail-in details with reference number <strong class="greenText d-inline-block">{{refId}}</strong>. <br> Our technician will be in touch within the next 24
            hours. <br><br>
            Please call or whatsapp our contact centre on <a href="tel:254792553595">+254792553595</a> or <a href="tel:254720402275">+254720402275</a> in case you have any inquiries.
          </span>

          <span class="d-block" *ngIf="requestType === 'services'">We've received your service inquiry details for {{services[emailForm.service].title}} with reference number <strong class="greenText d-inline-block">{{refId}}</strong>. <br> Our
            technician will be in touch within the next 24 hours. <br><br>
            Please call or whatsapp our contact centre on <a href="tel:254792553595">+254792553595</a> or <a href="tel:254720402275">+254720402275</a> in case you have any inquiries.
          </span>
        </div>
      </div>

    </div>

    <!-- <div class="modal-footer pt-0" *ngIf="stage === 1">
      <button type="button" class="btn btn-close mr-3" id="closeBtn" data-dismiss="modal">Decline</button>
      <button type="button" class="btn btn-submit" (click)="stage = 2">Accept</button>
    </div> -->

    <div class="modal-footer pt-0" *ngIf="stage === 1">
      <button type="button" class="btn btn-close mr-3" data-dismiss="modal" [disabled]="sending" (click)="reset()">Close</button>
      <button type="button" class="btn btn-submit" (click)="formValidation()"
        [disabled]="!acceptDisclaimer || sending || !emailForm.phone || !emailForm.email || !emailForm.fullName || (requestType !== 'services' && !emailForm.location) || !emailForm.message">{{sending ? 'Sending ...' : 'Submit'}}</button>
    </div>
    <div class="modal-footer pt-0" *ngIf="stage === 2">
      <button type="button" class="btn btn-close mr-3" data-dismiss="modal" (click)="reset()">Close</button>
    </div>
  </div>
</div>
