.modal-dialog {
  .modal-header {
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.09);
  }

  .modal-body {
    &::-webkit-scrollbar {
      width: 6px;
      background: transparent;
    }

    &::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px #e1e1e1;
      border-radius: 50px;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 15px;
      background: #003d4c;
    }

    .description {
      color: #5f6063;
    }

    .disclaimer {
      ::ng-deep h3 {
        color: #5f6063;
        font-weight: 600;
        font-size: 1.2rem;
      }

      ::ng-deep li,
      ::ng-deep p {
        font-size: 0.9rem;
        color: #80868b;
      }

      ::ng-deep strong {
        color: #5f6063;
      }
    }

    .form-group{
      margin-bottom: 20px;

      label{
        margin-bottom: 5px;
      }
    }

    .has-error-container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .error-image {
        height: 100px;
        margin: auto 20px auto 0;
      }

      .error-title {
        text-decoration: underline;
        font-weight: 600;
        color: #3c4043;
        display: block;
        margin-bottom: 20px;
        font-size: 1.2rem;
      }

      p {
        text-align: justify!important;
        text-justify: inter-word!important;
        strong{
          color: #3c4043;
        }
      }

      .use-whatsapp-text {
        color: #00b66c;
        font-weight: 600;
      }

      .btn-whatsapp {
        background-color: #00b66c;
        color: #fff;
        font-size: 0.9rem;
        letter-spacing: 1px;
        font-weight: 600;
        padding: 8px 30px;
        border-radius: 20px;

        i {
          margin-left: 10px;
          font-size: 1.2rem;
          position: relative;
          top:2px;
        }
      }
    }

    .btn-add-email {
      background-color: #13d0d5;
      color: #3c4043;
      // position: absolute;
      // right: 2px;
      // top: 34px;
      padding: 4px 12px;
      border-radius: 0 4px 4px 0;
    }

    .terms-checkbox {
      input {
        margin-right: 10px;
        margin-left: 5px;
        cursor: pointer;
      }

      a {
        color: #80868b;
        text-decoration: underline;
      }
    }

    .success-div {
      color: #5f6063;
      min-height: 300px;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center!important;

      img {
        width: 140px;
        object-fit: contain;
      }

      span {
        font-size: 1.1rem;
      }

      a {
        color: #5f6063;
        text-decoration: underline;
      }
    }
  }
}
@media only screen and (max-width: 770px) {
  .has-error-container {
    display: flex;
    flex-direction: column!important;
  }
}
